.App {
 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.back{
 background-color: #fbba72;
}
.adminContainer{
  background-color: #fbba72;
}
.bodyContainer{
  background-color: #fbba72;
}
.contentContainer{
  background-color: #fbba72;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.adminHeader{
  margin-left: 35%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer-copyright{
  background-color: rgba(0, 0, 0, 0.2);
}

.cardHover:hover{
  background-color:#F14156;
  color: white ;
  text-decoration: none;
  transition: all .4s ease-in-out;
  transform: scale(1.05);

}
.cardHover{
  background-color: #FBC688;
  border: none;
  padding: 3rem;
}

.links{
  text-decoration: none;
  color: black;
}

.buyCard{
  background-color: #FBC688;
  border: none;
}

.decreaseButton{
  background-color: #dc3545 !important;;
  margin-right: 1vw;
  border: none;
  color: white;
}

.increaseButton{
  background-color: #198754 !important;
  border-color: #198754;
  margin-right: 1vw;
  border: none;
  color: white;
}
.noProdCard{
  background-color: #FBC688;
  border: none;
}

.deleteRowButton{
  background-color: #000000 !important;
  border: none;
  color: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingCard{
  background-color: #fbba72;
  border: none;
}
.productCard{
  background-color: #FBC688;
  border: none;
}
.orderHeadline{
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
}
.orderTable{
  width:100%;
	border:1px solid;
}
.orderTh{
  width: 33%;
}
.orderTd{
  margin-left: 2%;
}


