.header{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
.card-hover:hover{
    background-color:#F14156;
    color: white ;
    text-decoration: none;
    transition: all .4s ease-in-out;
    transform: scale(1.05);

}
.card{
    background-color: #FBC688;
    border: none;
}

.button-hover{
    color:pink;

}

.btn-primary, .btn-primary:visited {
    background-color: #F14156 !important;
    border: none;
}
.btn-primary:hover{
    background-color: #EE1B34 !important;

}
.btn-primary:focus, .btn-primary:active:hover{
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


.button-hover:hover{
    color:  white;
    text-decoration: none;
    
        transition: all .4s ease-in-out;
        transform: scale(1.05);
}

.mail:hover{
    color:  white;
    text-decoration: none;
    
        transition: all .4s ease-in-out;
        transform: scale(1.05);

}

.mail{
    color:lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #fbba72;
}

.buttonred{
    background-color:#F14156;
    color: white;
}
.card-img-top{
    padding-top: 20px;
    
}
.nav-link{
    color: #5D7B3D; 
    font-weight: bold;
    font-size: 20px;
}
.nav-link:hover{
    color: #49602F;
}
.bi:hover{
    color: #49602F;
}
.mainlogo:hover{
    transition: all .2s ease-in-out;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(156, 104, 44));
    filter: drop-shadow(5px 5px 5px rgb(156, 104, 44));
}


